$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
    font: {
        size: 13px;
        family: 'Manrope', sans-serif;
    }
    margin: 0;
    // box-sizing: border-box;
}

.container {
    background-color: $light-grayish-blue;
    min-height: 100vh;
    padding: 4rem 1.5rem;
    box-sizing: border-box;

    .main {
        border-radius: 10px;
        overflow: hidden;
    }

    &__img {
        height: 200px;
        overflow: hidden;

        .img {
            width: 100%;
        }
    }

    &__text {
        background-color: white;
        padding: 2rem 1.5rem 1rem 1.5rem;

        .text__h2 {
            font: {
                weight: 700;
                size: 1.1rem;
            }
            line-height: 1.7rem;
            color: $very-dark-grayish-blue;
            margin: 0;
        }

        .text__p {
            font-size: .9rem;
            line-height: 1.5rem;
            color: $desaturated-dark-blue
        }

        .usuario {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .avatar {
                width: 20%;
                border-radius: 50%;
            }

            &__details {
                margin-left: -25px;
                
                h3 {
                    margin: 0 0 4px 0;
                    color: $very-dark-grayish-blue
                }

                p {
                    margin: 0;
                    font-size: 0.9rem;
                    color: $grayish-blue;
                }
            }
        }
        .container__icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-grayish-blue;
            border-radius: 50%;
        }
    }

    .container__share {
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 71px;
        padding: 0 26px;
        margin: 0 -24px -15px;
        background-color: $very-dark-grayish-blue;
    
        p {
            text-transform: uppercase;
            color: $grayish-blue;
            letter-spacing: .2rem;
        }

        .social_media {
            margin-left: -20px;
        }

        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 20px;
            background-repeat: no-repeat;
            margin-right: 10px;
        }

        .icon.facebook {
            background-image: url('./images/icon-facebook.svg');
        }

        .icon.twitter {
            background-image: url('./images/icon-twitter.svg');
        }

        .icon.pinterest {
            background-image: url('./images/icon-pinterest.svg');
        }

        .container__icon-dark {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $grayish-blue;
            border-radius: 50%;
        }
    }
}
