@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2f8;
  min-height: 100vh;
  padding: 4rem 1.5rem;
  box-sizing: border-box;
}
.container .main {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #86aabb;
}
@media (min-width: 730px) {
  .container .main {
    display: flex;
    height: 265px;
    width: 700px;
  }
}
.container__img {
  height: 200px;
  overflow: hidden;
}
.container__img .img {
  width: 100%;
}
@media (min-width: 730px) {
  .container__img .img {
    width: 240px;
    height: inherit;
    object-fit: cover;
  }
}
@media (min-width: 730px) {
  .container__img {
    height: inherit;
    overflow: initial;
  }
}
.container__text {
  background-color: white;
  padding: 2rem 1.5rem 1rem 1.5rem;
  position: relative;
}
.container__text .text__h2 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #48556a;
  margin: 0;
}
.container__text .text__p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #6d7f97;
}
.container__text .usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text .usuario__container {
  display: flex;
  align-items: center;
}
.container__text .usuario .avatar {
  width: 45px;
  border-radius: 50%;
}
.container__text .usuario__details {
  margin-left: 10px;
}
.container__text .usuario__details h3 {
  margin: 0 0 4px 0;
  color: #48556a;
}
.container__text .usuario__details p {
  margin: 0;
  font-size: 0.9rem;
  color: #9eafc2;
}
.container__text .container__icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2f8;
  border-radius: 50%;
}
.container .container__share {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 26px;
  margin: 0 -24px -15px;
  background-color: #48556a;
}
@media (min-width: 730px) {
  .container .container__share {
    position: absolute;
    left: 280px;
    bottom: 120px;
    height: 55px;
    width: 200px;
    border-radius: 10px;
  }
  .container .container__share::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #48556a transparent transparent;
  }
}
.container .container__share p {
  text-transform: uppercase;
  color: #9eafc2;
  letter-spacing: 0.2rem;
}
.container .container__share .social_media {
  margin-left: -20px;
}
@media (min-width: 730px) {
  .container .container__share .social_media {
    margin-left: 20px;
  }
}
.container .container__share .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.container .container__share .icon.facebook {
  background-image: url("./images/icon-facebook.svg");
}
.container .container__share .icon.twitter {
  background-image: url("./images/icon-twitter.svg");
}
.container .container__share .icon.pinterest {
  background-image: url("./images/icon-pinterest.svg");
}
.container .container__share .container__icon-dark {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9eafc2;
  border-radius: 50%;
}
@media (min-width: 730px) {
  .container .container__share .container__icon-dark {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
